cycler==0.10.0
Django==2.2.10
django-filter==1.0.2
djangorestframework==3.9.4
Markdown==2.6.8
numpy==1.12.1
matplotlib==2.0.1
olefile==0.44
opencv-python==3.2.0.7
Pillow==4.1.1
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
PyYAML==3.12
six==1.10.0
django-nose==1.4.6
coverage==4.4
https://download.lfd.uci.edu/pythonlibs/o4uhg4xd/python_ldap-3.1.0-cp36-cp36m-win_amd64.whl; platform_system == 'Windows'
django_auth_ldap==1.7.0