PyYAML==6.0.3
Django==5.1.15
django-filter==25.1
djangorestframework==3.16.1
django-auditlog==3.4.1
numpy==2.4.2
opencv-python==4.13.0.92
Pillow==12.1.1
pytz==2025.2
unittest-xml-reporting==4.0.0
coverage==7.13.4
pkg/python_ldap-3.4.5-cp311-cp311-win_amd64.whl; platform_system == 'Windows'
django_auth_ldap==5.3.0
mozilla-django-oidc==5.0.2
health-check==3.4.1
unidecode==1.4.0
django-apscheduler==0.6.2
openwebui-chat-client==0.1.24
python-magic-standalone==0.4.28
cryptography==46.0.7
pysqlite3-binary==0.5.4.post2; platform_system == 'Linux'
looseversion==1.3.0
pdf2image==1.17.0


