.leftPane {
	padding-top:10px;
	padding-bottom: 120px;
	padding-left:5px;
	border-width:0px;
	height: 100%;
	border-style: solid solid solid hidden;
	border-color: #33414a;
	border-color: rgba(0,0,0,0.3);
	text-align: center;
	background-color:	#506876;
	border-radius: 2%;
	letter-spacing: 1px;
	font-size: 12px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
	z-index: 3;
}

.form-group {
	margin-bottom: 2px;
	margin-left: 8px;
}

.body-picture {
	background-color: #ecf0f5;
}

.snapshot {
	width:100%;
	display: grid;
	padding-left: 10px;
	padding-right: 10px;
}

#excludeZone {

    position: relative;
    padding-top: 10px;
	padding-bottom: 10px;
	background-color: #E48681;
	border-color: rgba(0,0,0,0.3);
	color: #FFF;
	text-align: center;
	background-color:	#428bca;
	border-radius: 2%;
	letter-spacing: 2px;
	font-size: 20px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
	background: linear-gradient(to bottom, #48A9AE, #4DAA7DE6);
	z-index: 10;
	position: absolute;
	left: 570px;
	width: 400px;
	top: 20px;
}

.header-picture {
	background-color:	#aaa;
}

.itemSuccess {
	background-color: rgb(153, 255, 102) !important;
	
}

.itemFailure {
	background-color: rgb(255, 102, 102) !important;
}

.rectangle {
    border: 2px solid darkred;
    position: absolute;
    background-color: grey;
    opacity: 0.4;
    z-index: 9;
}

.bg-1 {	
	background-color: gradient#42678480;	
}

#logo:hover {  						/* logo */
	box-shadow: 2px 3px 10px #428bca;
}



body {	
	box-shadow: 5px 10px 10px #aaa;
	background-color: #eef3f7;
	font-size: 14px;
}
#testList {
	margin-top: 20px;
}

#stepList {
	margin-top: 30px;
}

.menuButton {
	margin-top: 10px;
	border-width:0px;
	border-bottom-right-radius: 0px;
	border-style: solid solid solid solid;
	border-color: #294656CC;
	border-spacing: 100px;
	font-size: 11px;
	border-width: 5px;
}

.shadowBox {
	box-shadow: 5px 5px 10px #aaa;	
	grid-column: 1;
	grid-row: 1;
}

.diffCanvas {
	grid-column: 1;
	grid-row: 1;
	position: relative;
}

.title {
	text-shadow: 0 3px 10px rgba(0,0,0,5);
	color: #FFF;
	text-align: center;
	background-color: #506876 ;
	border-radius: 2%;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-size: 12px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
	box-shadow:
    1px 5px 7px rgba(0, 0, 0, 0.5),
    0 0 5px rgba(0, 0, 0, 0.4);
}

.step {
	padding-top: 5px;
}

.table>tbody>tr>td {
	padding: 4px;
}

#excludeZoneTable>table>tbody>tr {
	font-size: 10px;
}

#selection {
	background: linear-gradient(to bottom left, #47a8ad, #47a8ad33);
}

.table-striped>tbody>tr>td {
	font-size: 11px;
}

#btnMenu {
	padding-top: 3px;
	padding-bottom: 0px;
	background-color: #437678cc;
	border-radius: 0px;
	border-color: #00888d;
	margin-right: 15px;
}

#date {
	padding-top: 0px;
	padding-bottom:0px;
}

.col-sm-10 {
	border-bottom-width: 0px;
	border-bottom-style: solid;
	margin-bottom: 0px;
	padding-bottom: 1px;
}

#error {
	color: red;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.error-message {
	color: red;
	font-weight: bold;
}

